@import "./shared/shared";

.app {
  &__container {
    padding: 40px;
  }
  &__header {
    .title {
      color: #fff;
      font-size: 40px;
      line-height: 40px;
      font-weight: 300;
      & > span {
        font-weight: 600;
      }
    }
    padding: 20px 40px;
    background-color: $accent;
  }
}
